@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --morning-gradient: radial-gradient(
    125% 125% at 50% 10%,
    #255289 0%,
    #609ac6 40%,
    #223c4e 100%
  );
  --day-gradient: radial-gradient(
    circle at 50% 10%,
    #287f7f 0%,
    #29927188 40%,
    #287f7f 100%
  );
  --evening-gradient: radial-gradient(
    circle at 50% 20%,
    #738ede 40%,
    #ae90ae 100%
  );
  --night-gradient: radial-gradient(
    125% 125% at 50% 10%,
    #1e293b 0%,
    #0f172a 40%,
    #203078 100%
  );

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background: white;
  background: var(--morning-gradient);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .morning-bg {
    background: var(--morning-gradient);
  }

  .day-bg {
    background: var(--day-gradient);
  }

  .evening-bg {
    background: var(--evening-gradient);
  }

  .night-bg {
    background: var(--night-gradient);
  }
}
